
<%- include("partials/header") -%>

<div class="box" id="heading">
  <h1>About</h1>
</div>

<div class="box">
  <p> <%= aboutContent %> </p>
  <a href=""> To-Do List Version A</a>
  <a href=""> To-Do List Version B</a>
</div>


<%- include("partials/footer") -%>
