
<%- include("partials/header") -%>

<div class="box" id="heading">
  <h1>Contact</h1>
</div>

<div class="box">
  <p> <%= contactContent %> <a href="">  ---> Email Signup</a> </p>

</div>


<%- include("partials/footer") -%>
